<!-- ///////////////////////
//create new courses here///
//////////////////////////// -->
Creat new course data below<br>
   <input type="text" ng-model="course.name" placeholder="Course name"></input>
<br>
Pro/Championship Tee Yardage
<br>
<input class="course" type="number" ng-model="course.teeYardage.proTee[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[5]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[6]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[7]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[8]" placeholder="Hole 9"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.teeYardage.proTee[17]" placeholder="Hole 18"></input>
<br>
Blue Tee Yardage
<br>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[5]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[6]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[7]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[8]" placeholder="Hole 9"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.teeYardage.blueTee[17]" placeholder="Hole 18"></input>
<br>
White Tee Yardage
<br>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[5]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[6]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[7]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[8]" placeholder="Hole 9"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.teeYardage.whiteTee[17]" placeholder="Hole 18"></input>
<br>
Yellow Tee yardage
<br>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[5]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[6]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[7]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[8]" placeholder="Hole 9"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.teeYardage.yellowTee[17]" placeholder="Hole 18"></input>
<br>
Red Tee Yardage
<br>
<input class="course" type="number" ng-model="course.teeYardage.redTee[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[5]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[6]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[7]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[8]" placeholder="Hole 9"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.teeYardage.redTee[17]" placeholder="Hole 18"></input>
<br>
Men's Par
<br>
<input class="course" type="number" ng-model="course.par.menPar[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.par.menPar[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.par.menPar[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.par.menPar[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.par.menPar[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.par.menPar[5]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.par.menPar[6]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.par.menPar[7]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.par.menPar[8]" placeholder="Hole 9"></input>
<input class="course" type="number" ng-model="course.par.menPar[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.par.menPar[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.par.menPar[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.par.menPar[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.par.menPar[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.par.menPar[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.par.menPar[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.par.menPar[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.par.menPar[17]" placeholder="Hole 18"></input>
<br>
Women's Par
<br>
<input class="course" type="number" ng-model="course.par.womenPar[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.par.womenPar[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.par.womenPar[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.par.womenPar[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.par.womenPar[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.par.womenPar[5]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.par.womenPar[6]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.par.womenPar[7]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.par.womenPar[8]" placeholder="Hole 9"></input>
<input class="course" type="number" ng-model="course.par.womenPar[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.par.womenPar[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.par.womenPar[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.par.womenPar[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.par.womenPar[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.par.womenPar[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.par.womenPar[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.par.womenPar[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.par.womenPar[17]" placeholder="Hole 18"></input>
<br>
Men Handicap
<br>
<input class="course" type="number" ng-model="course.handicap.menHDCP[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[5]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[6]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[7]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[8]" placeholder="Hole 9"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.handicap.menHDCP[17]" placeholder="Hole 18"></input>
<br>
Women Handicap
<br>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[0]" placeholder="Hole 1"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[1]" placeholder="Hole 2"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[2]" placeholder="Hole 3"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[3]" placeholder="Hole 4"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[4]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[5]" placeholder="Hole 5"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[6]" placeholder="Hole 6"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[7]" placeholder="Hole 7"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[8]" placeholder="Hole 8"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[9]" placeholder="Hole 10"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[10]" placeholder="Hole 11"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[11]" placeholder="Hole 12"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[12]" placeholder="Hole 13"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[13]" placeholder="Hole 14"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[14]" placeholder="Hole 15"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[15]" placeholder="Hole 16"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[16]" placeholder="Hole 17"></input>
<input class="course" type="number" ng-model="course.handicap.womenHDCP[17]" placeholder="Hole 18"></input>
<br>
<button ng-click="courseCreate(course)">Create Course</button>
