<select ng-options="player as player.name.first + ' ' + player.name.last for player in players"  ng-model="player">
   <option value="" selected="selected">Select a Player</option>
</select>

<input class="player"type="text" ng-model="player.name.first" placeholder="First Name..."></input>
<input class="player"type="text" ng-model="player.name.last"placeholder="Last Name"></input>
<select name="sex" ng-model="player.sex">
   <option value="">Select player sex</option>
  <option value="Male" selected>Male</option>
  <option value="Female">Female</option>
</select>
<select name="tee" ng-model="player.tee">
   <option value="">Select player tee</option>
   <option value="Champion">Champion Tee</option>
   <option value="Blue">Blue Tee</option>
   <option value="White">White Tee</option>
   <option value="Yellow">Yellow Tee</option>
   <option value="Red">Red Tee</option>
</select>
<input class="player"type="email" ng-model="player.email" placeholder="email..."></input>
<br>
   <button ng-click="createPlayer(player)">Create New Player</button>
<br>
   <button ng-click="updatePlayer(player)">Update Player Info</button>
<br>
   <button ng-click="deletePlayer(player)">Delete Player</button>
   {{updated}}
{{deleted}}
