<select ng-options="player as player.name.first + ' ' + player.name.last for player in players"  ng-model="player">
   <option value="" selected="selected">Select a Player</option>
</select>

<!--////////////////////////////////////////
///add players to teams via dropdown menu///
////////////////////////////////////////////  -->
      <select ng-model="team" ng-options="team.name for team in teams">
         <option value="" selected="selected">Select a Team</option>
         <!-- <option ng-repeat="team in teams" value="{{team._id}}">{{team.name}}</option> -->
      </select>
         <button ng-click="addTeamPlayer(team,player)">Add to Team</button>
