<select ng-model="course" ng-options="course.name for course in courses">
   <option value="" selected="selected">Select a Course</option>
</select>
<button ng-click="courseSelect(course)">Submit</button>
{{cCourse.name}}
<table class="frontNine">
<tr class="frontNine">
   <td class="frontNine">Holes</td>
   <td class="frontNine">1</td>
   <td class="frontNine">2</td>
   <td class="frontNine">3</td>
   <td class="frontNine">4</td>
   <td class="frontNine">5</td>
   <td class="frontNine">6</td>
   <td class="frontNine">7</td>
   <td class="frontNine">8</td>
   <td class="frontNine">9</td>
   <td class="frontNine">Total</td>
   <td class="backNine">10</td>
   <td class="backNine">11</td>
   <td class="backNine">12</td>
   <td class="backNine">13</td>
   <td class="backNine">14</td>
   <td class="backNine">15</td>
   <td class="backNine">16</td>
   <td class="backNine">17</td>
   <td class="backNine">18</td>
   <td class="backNine">Total</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">Championship</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[0]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[1]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[2]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[3]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[4]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[5]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[6]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[7]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].proTee[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[9]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[10]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[11]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[12]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[13]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[14]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[15]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[16]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].proTee[17]}}</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">Blue</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[0]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[1]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[2]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[3]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[4]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[5]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[6]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[7]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].blueTee[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[9]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[10]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[11]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[12]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[13]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[14]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[15]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[16]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].blueTee[17]}}</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">White</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[0]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[1]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[2]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[3]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[4]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[5]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[6]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[7]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].whiteTee[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[9]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[10]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[11]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[12]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[13]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[14]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[15]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[16]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].whiteTee[17]}}</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">Yellow</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[0]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[1]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[2]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[3]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[4]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[5]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[6]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[7]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].yellowTee[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[9]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[10]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[11]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[12]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[13]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[14]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[15]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[16]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].yellowTee[17]}}</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">Red</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[0]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[1]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[2]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[3]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[4]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[5]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[6]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[7]}}</td>
   <td class="frontNine">{{cCourse.teeYardage[0].redTee[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[9]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[10]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[11]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[12]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[13]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[14]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[15]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[16]}}</td>
   <td class="backNine">{{cCourse.teeYardage[0].redTee[17]}}</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">M-HDCP</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[0]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[1]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[2]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[3]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[4]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[5]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[6]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[7]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].menHDCP[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[9]}}</td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[10]}}</td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[11]}}</td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[12]}}</td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[13]}}</td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[14]}}</td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[15]}}</td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[16]}}</td>
   <td class="backNine">{{cCourse.handicap[0].menHDCP[17]}}</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">W-HDCP</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[0]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[1]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[2]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[3]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[4]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[5]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[6]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[7]}}</td>
   <td class="frontNine">{{cCourse.handicap[0].womenHDCP[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[9]}}</td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[10]}}</td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[11]}}</td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[12]}}</td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[13]}}</td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[14]}}</td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[15]}}</td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[16]}}</td>
   <td class="backNine">{{cCourse.handicap[0].womenHDCP[17]}}</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">M-Par</td>
   <td class="frontNine">{{cCourse.par[0].menPar[0]}}</td>
   <td class="frontNine">{{cCourse.par[0].menPar[1]}}</td>
   <td class="frontNine">{{cCourse.par[0].menPar[2]}}</td>
   <td class="frontNine">{{cCourse.par[0].menPar[3]}}</td>
   <td class="frontNine">{{cCourse.par[0].menPar[4]}}</td>
   <td class="frontNine">{{cCourse.par[0].menPar[5]}}</td>
   <td class="frontNine">{{cCourse.par[0].menPar[6]}}</td>
   <td class="frontNine">{{cCourse.par[0].menPar[7]}}</td>
   <td class="frontNine">{{cCourse.par[0].menPar[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.par[0].menPar[9]}}</td>
   <td class="backNine">{{cCourse.par[0].menPar[10]}}</td>
   <td class="backNine">{{cCourse.par[0].menPar[11]}}</td>
   <td class="backNine">{{cCourse.par[0].menPar[12]}}</td>
   <td class="backNine">{{cCourse.par[0].menPar[13]}}</td>
   <td class="backNine">{{cCourse.par[0].menPar[14]}}</td>
   <td class="backNine">{{cCourse.par[0].menPar[15]}}</td>
   <td class="backNine">{{cCourse.par[0].menPar[16]}}</td>
   <td class="backNine">{{cCourse.par[0].menPar[17]}}</td>
</tr>
<tr class="frontNine">
   <td class="frontNine">W-Par</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[0]}}</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[1]}}</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[2]}}</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[3]}}</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[4]}}</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[5]}}</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[6]}}</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[7]}}</td>
   <td class="frontNine">{{cCourse.par[0].womenPar[8]}}</td>
   <td class="backNine"></td>
   <td class="backNine">{{cCourse.par[0].womenPar[9]}}</td>
   <td class="backNine">{{cCourse.par[0].womenPar[10]}}</td>
   <td class="backNine">{{cCourse.par[0].womenPar[11]}}</td>
   <td class="backNine">{{cCourse.par[0].womenPar[12]}}</td>
   <td class="backNine">{{cCourse.par[0].womenPar[13]}}</td>
   <td class="backNine">{{cCourse.par[0].womenPar[14]}}</td>
   <td class="backNine">{{cCourse.par[0].womenPar[15]}}</td>
   <td class="backNine">{{cCourse.par[0].womenPar[16]}}</td>
   <td class="backNine">{{cCourse.par[0].womenPar[17]}}</td>
</tr>
<td>Name</td>
   <td><input class="score" ng-model="score[0]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[1]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[2]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[3]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[4]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[5]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[6]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[7]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[8]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td>{{total}}</td>
   <td><input class="score" ng-model="score[9]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[10]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[11]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[12]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[13]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[14]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[15]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[16]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td><input class="score" ng-model="score[17]" ng-change="updateScore(score)" type="number">
      </input>
   </td>
   <td>{{total}}</td>
</tr>
</table>

<button ng-click="submitScore(score)">Submit Final Score</button>
<br>
